.section{
display: flex;
justify-content: center;
}
.userCard{
    width: 500px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}
.userCard > img  {
    width: 80%;
    

}